<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432368995768-n4kk0tfjgtc4tdlfm1ass39r8a1loohc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432368995768-n4kk0tfjgtc4tdlfm1ass39r8a1loohc</string>
	<key>API_KEY</key>
	<string>AIzaSyDcE04nxe-MfEih-3ZJWWGypkAy6z3NWkI</string>
	<key>GCM_SENDER_ID</key>
	<string>432368995768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab08</string>
	<key>PROJECT_ID</key>
	<string>lab08-cs-c9f5d</string>
	<key>STORAGE_BUCKET</key>
	<string>lab08-cs-c9f5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432368995768:ios:18b41d559a98c9b1df934d</string>
</dict>
</plist>